@{
    ViewData["Title"] = "Teste Auvo - Sobre";
}
<h1>@ViewData["Title"]</h1>

<p>Olá,<br/>
Gostaria de compartilhar minha experiência ao realizar esse teste. Fiquei empolgado com a oportunidade de mostrar meus conhecimentos em .NET.<br/>
O sistema que vocês propuseram foi um desafio interessante para lidar com os dados dos arquivos CSV e processá-los de forma performática.<br/>
Durante o projeto, me esforcei para aplicar os princípios do SOLID e da Clean Architecture, buscando uma estrutura com baixo acoplamento e dependências bem organizadas. Optei por utilizar herança para ganhar agilidade, mas em um cenário real, consideraria a utilização de composição para um controle mais preciso dos métodos herdados<br/>
Uma das partes mais marcantes do teste foi a necessidade de lidar com um grande volume de dados e trabalhar com paralelismo. Reconheço que preciso aprofundar meus conhecimentos nessa área. Além disso, também precisei pesquisar e implementar uma biblioteca que lidasse com a serialização dos arquivos CSV e mapeá-los tratando os dados que estão em formato pt-BR.<br/>
Ao final, acredito que consegui desenvolver uma estrutura de fácil manutenção, com entidades bem definidas, mas que com certeza tem muito espaço para melhorar, principalmente com relação a performance.<br/>
Foi uma experiência enriquecedora e estou entusiasmado para contribuir com meus conhecimentos e aprender ainda mais com vocês na Auvo.<br/>
<br/>
Desde já agradeço pela oportunidade! 🙋‍♂️</p>
